{% extends "@template/html.twig" %}

{% block main %}
  <p>Dear, {{ subject.name }}</p>
  <p>Qui eu deserunt fugiat dolore in sunt. Aliquip irure duis duis dolore est</p>
  <p>ea qui id. Eiusmod adipisicing anim eu aliquip deserunt quis.</p>
{% endblock %}
